.c-boxes-bg {
  @extend .o-layout;
}

.c-boxes-bg__item {
  @extend .o-layout__item;
}

.c-box-bg {
  @extend .o-box;

  border-radius: 2px;
  min-height: 300px;
  position: relative;
  transition: background-color 0.5s ease-in-out;
  color: $color-white;

  @media (min-width: 1600px) {
    min-height: 400px;
  }

  &--small {
    min-height: 200px;
    text-align: center;

    img {
      width: 160px !important;
    }
  }

  &:hover:not(.c-box-bg--small) {
    cursor: pointer;
    opacity: 0.9;
    color: $color-light-blue;
    background-color: $color-white !important;

    .c-box-bg__plain-overlay {
      opacity: 1;
      transform: translateX(75%);
    }

    .c-box-bg__rich-overlay {
      opacity: 1;
      background-color: $color-white;
    }

    .c-box-bg__subtitle {
      bottom: $inuit-global-spacing-unit-huge;
    }
  }

  &__plain-overlay,
  &__rich-overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
  }

  &__rich-overlay {
    min-height: 100%;
  }

  &__title {
    position: absolute;
    top: $inuit-global-spacing-unit;
    left: $inuit-global-spacing-unit;
    right: $inuit-global-spacing-unit;
    transition: all 0.5s ease-in-out;
  }

  &__subtitle {
    position: absolute;
    right: $inuit-global-spacing-unit-large;
    left: $inuit-global-spacing-unit;
    bottom: $inuit-global-spacing-unit;
    transition: all 0.5s ease-in-out;
  }

  img {
    vertical-align: middle;
    width: 100%;
  }
}
