.c-box {
  @extend .o-box;
  min-height: 700px;

  &__content {
    padding: $inuit-global-spacing-unit;
  }

  &__img {
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 692px;
    overflow: hidden;
    

    &--full {
      min-height: 700px;

      img {
        min-height: inherit;
      }
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &--gray {
    background-color: $color-gray-nurse;
  }

  &--blue {
    background-color: $color-brand-blue;
  }

  &--white {
    background-color: $color-white;
  }

  &--trans {
    background-color: transparent;
  }
}
