.c-site-section {

  //enabled $inuit-use-markup-fix: true in o-layout
  // Required in order to set inuit-font-size()
  @include inuit-font-size(20px, $important: true);

  &--white {
    background-color: $color-white;
  }

  &--gray-bg1 {
    background-color: $color-gray-bg1;
  }

  &--gray-bg2 {
    background-color: $color-gray-bg2;
  }

  &--blue {
    background-color: $color-light-blue;
    color: $color-white;
  }

  &--darkgray {
    background-color: $color-brand-darkgray;
    color: $color-white;
  }
}