///* ========================================================================
//   #COLORS
// Names: http://chir.ag/projects/name-that-color/
//   ======================================================================== */

$color-gray-nurse: #DFE1E0;
$color-gray-oslo: #87888C;
$color-silver: #C2C2C2;