///* ========================================================================
//   #COLORS
// Names: http://chir.ag/projects/name-that-color/
//   ======================================================================== */

$color-brand-blue: #043FCB;
$color-light-blue: #1023fa;
$color-brand-lightgray: #7F7D7E;
$color-brand-darkgray: #282828;

$color-gray-nurse: #DFE1E0;
$color-gray-oslo: #87888C;
$color-silver: #C2C2C2;

$color-white: #FEFFFF;
$color-gray-bg1: #EEEEEE;
$color-gray-bg2: #DEDEDE;
